#screen {
  image-rendering: optimizeSpeed;             /* Older versions of FF          */
  image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
  image-rendering: -webkit-optimize-contrast; /* Safari                        */
  image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
  image-rendering: pixelated;                 /* Awesome future-browsers       */
  -ms-interpolation-mode: nearest-neighbor;   /* IE                            */
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#screencontainer {
    resize: both;
    overflow: auto;
    width: 10em;
    height: 10em;
    max-width: 100vw;
    max-height: 100vh;
}
